{% extends "base/projectBase.html" %}

{% block rightContent %}

<h3>修改项目信息</h3>
<hr>

<form action="{{ url_for('project.projectEdit') }}" method="POST">
    {{ form.csrf_token }}
    {{ form.projectId(type='hidden') }}
    {{ form.itemNumber.label }}
    {{ form.itemNumber(class='form-control') }}
    {{ form.progress.label }}
    {{ form.progress(class='form-control', style='width:100px') }}
    {{ form.samplesDate.label }}
    {{ form.samplesDate(class="form-control" ,type="date",style="width:250px;") }}
    {{ form.createLib.label }}
    {{ form.createLib(class='form-control',style="width:400px;") }}
    {{ form.checkoutLib.label }}
    {{ form.checkoutLib(class='form-control',style="width:400px;") }}
    {{ form.isSettle.label }}
    {{ form.isSettle(class='form-control',style="width:400px;") }}
    {{ form.amogeneSettle.label }}
    {{ form.amogeneSettle(class='form-control',style="width:400px;") }}
    {{ form.novoStage.label }}
    {{ form.novoStage(class='form-control',style="width:400px;") }}
    {{ form.novoSettle.label }}
    {{ form.novoSettle(class='form-control',style="width:400px;") }}
    {{ form.isReleaseData.label }}
    {{ form.isReleaseData(class='form-control',style="width:400px;") }}
    {{ form.period.label }}
    {{ form.period(class='form-control',style="width:400px;") }}
    {{ form.downloadInfo.label }}
    {{ form.downloadInfo(class='form-control',style="width:400px;") }}
    {{ form.remark.label }}
    {{ form.remark(class='form-control') }}
    {{ form.submit(class='btn btn-info') }}
</form>

{% endblock %}