{% extends "base/projectBase.html" %}


{% block rightContent %}

<div class=" ">
    <ol class=" breadcrumb">
        <li class=" breadcrumb-item"><a href="#">{{ session['clientOrg'] }}</a></li>
        <li class=" breadcrumb-item"><a href="#">{{ session['clientName'] }}</a></li>
    </ol>
</div>
<h3>项目信息</h3>

<hr>
{% if session['clientId'] != '0'  %}
<div class="">
    <a class="btn btn-info" href="{{ url_for('project.projectAdd') }}">添加项目</a>
</div>
{% endif %}
<hr>
<div>
    <form class=" form-inline" action="{{ url_for('project.projectList')  }}" method="POST">
        {{ form.csrf_token }}
        {{ form.itemNumber.label }}
        {{ form.itemNumber(class='form-control') }}
        {{ form.submit(class='btn btn-info') }}

    </form>
</div>
<hr>

<div>
    <table class=" table table-hover table-bordered">
        <thead class=" table-info rounded-top ">
            <td>项目编号</td>
            <td>备注信息</td>
            <td>操作</td>

        </thead>
        <tbody>
            {% for project in pagination.items %}
            <tr>
                <td><a href="{{ url_for('analysis.analysisList') }}?projectId={{ project.id }}">{{ project.itemNumber }}</a></td>
                <td>{{ project.remark }}</td>
                </td>
                <td>
                    <div class=" btn-group">
                        <a class="btn btn-secondary"
                            href="{{ url_for('project.projectEdit') }}?id={{ project.id }}">编辑</a>
                        <a class="btn btn-danger"
                            href="{{ url_for('project.projectDel') }}?id={{ project.id }}">删除</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div><!-- end table -->

<hr>

{% from 'base/macros.html' import pager %}

{{ pager(pagination) }}

{% endblock %}