{% extends "base/projectBase.html" %}

{% block title %}
    <title>编辑样品信息</title>
{% endblock %}

{% block rightContent %}

<form action="">

        <div class=" form-group">
            <label for="">爱默基因编号</label>
            <input class=" form-control" type="text">
        </div>
        <div class=" form-group">
            <label for="">建库类型</label>
            <input class=" form-control" type="text">
        </div>
        <div class=" form-group">
            <label for="">测序类型</label>
            <input class=" form-control" type="text">
        </div>
        <div class=" form-group">
            <label for="">样本类型</label>
            <input class=" form-control" type="text">
        </div>
        <div class=" form-group">
            <label for="">物种类型</label>
            <input class=" form-control" type="text">
        </div>
        <div class=" form-group">
            <label for="">测序量</label>
            <input class=" form-control" type="text">
        </div>
        <div class=" form-group">
            <label for="">index编号</label>
            <input class=" form-control" type="text">
        </div>
        <div class=" form-group">
            <label for="">index正向序列</label>
            <input class=" form-control" type="text">
        </div>
        <div class=" form-group">
            <label for="">RNA提取情况</label>
            <input class=" form-control" type="text">
        </div>
        <div class=" form-group">
            <label for="">测序次数</label>
            <input class=" form-control" type="text">
        </div>
        <div class=" form-group">
            <label for="">图表中名字</label>
            <input class=" form-control" type="text">
        </div>
        <button type="submit" class="btn btn-primary">确认修改</button>
    </form>

{%  endblock %}