{% extends "base/projectBase.html" %}


{% block rightContent %}

<form action="{{ url_for('samples.samplesEdit') }}" method="POST">
    {{ form.csrf_token }}
    {{ form.sampleId(type='hidden') }}
    <div class=" form-group">
        {{ form.amogeneItem.label }}
        {{ form.amogeneItem(class="form-control") }}
    </div>
    <div class=" form-group">
        {{ form.libraryType.label }}
        {{ form.libraryType(class="form-control") }}
    </div>
    <div class=" form-group">
        {{ form.seqType.label }}
        {{ form.seqType(class="form-control") }}
    </div>
    <div class=" form-group">
        {{ form.sampleType.label }}
        {{ form.sampleType(class="form-control") }}
    </div>
    <div class=" form-group">
        {{ form.species.label }}
        {{ form.species(class="form-control") }}
    </div>
    <div class=" form-group">
        {{ form.seqDose.label }}
        {{ form.seqDose(class="form-control") }}
    </div>
    <div class=" form-group">
        {{ form.indexItem.label }}
        {{ form.indexItem(class="form-control") }}
    </div>
    <div class=" form-group">
        {{ form.indexForward.label }}
        {{ form.indexForward(class="form-control") }}
    </div>
    <div class=" form-group">
        {{ form.extractStatus.label }}
        {{ form.extractStatus(class="form-control") }}
    </div>
    <div class=" form-group">
        {{ form.seqTimes.label }}
        {{ form.seqTimes(class="form-control") }}
    </div>
    <div class=" form-group">
        {{ form.chartName.label }}
        {{ form.chartName(class="form-control") }}
    </div>
    <div class=" form-group">
        {{ form.remark.label }}
        {{ form.remark(class="form-control") }}
    </div>
    {{ form.submit(class='btn btn-primary') }}
</form>

{%  endblock %}