{% extends "base/projectBase.html" %}

{% block title %}
<title>添加项目</title>
{% endblock %}


{% block rightContent %}

<div class=" ">
    <ol class=" breadcrumb">
        <li class=" breadcrumb-item"><a href="#">{{ session['clientOrg'] }}</a></li>
        <li class=" breadcrumb-item"><a href="#">{{ session['clientName'] }}</a></li>
        <li class=" breadcrumb-item"><a href="#">项目信息</a>
        </li>
        <li class=" breadcrumb-item"><a href="#">添加样品</a></li>
    </ol>
</div>
<form action="{{ url_for('samples.samplesAdd') }}" method="POST">
    <div class="form-group">
        {{ form.csrf_token }}
        {{ form.itemNumber.label }}
        {{ form.itemNumber(class='form-control', type="hidden") }}
    </div>

    <div class="form-group">
        <label for="email">样品信息:</label>
        <table class=" table">
            <thead>
                <td>爱默基因编号</td>
                <td>建库类型</td>
                <td>测序类型</td>
                <td>样本类型</td>
                <td>物种类型</td>
                <td>测序量</td>
                <td>index编号</td>
                <td>index正向序列</td>
                <td>RNA提取情况</td>
                <td>测序次数</td>
                <td>图表中名字</td>
            </thead>
        </table>
        <!-- <textarea class="form-control" rows="5" id="SamplesArea"></textarea> -->
        {{ form.samples(class='form-control') }}
        <div class=" btn-group">
            <span class=" btn btn-primary" id="checkData">验证数据</span>
            <span class=" btn btn-danger" id="resetData">重置</span>
        </div>
    </div>
    <hr>
    <div>
        <caption>
            <h3>样品信息</h3>
        </caption>
        <table class=" table table-hover">
            <thead class=" table-info rounded" id="thead">
                <td>爱默基因编号</td>
                <td>建库类型</td>
                <td>测序类型</td>
                <td>样本类型</td>
                <td>物种类型</td>
                <td>测序量</td>
                <td>index编号</td>
                <td>index正向序列</td>
                <td>RNA提取情况</td>
                <td>测序次数</td>
                <td>图表中名字</td>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
    </div> <!-- end table-->
    <hr>
    <hr>
    <button class=" btn btn-primary" type="submit" id="submit" name="submit">提交数据</button>

</form>


<script type="">
    $(document).ready(function(){
        $("#SamplesArea").text('');
        $("#remarkInfo").text('');
        $("#remarkInfo").hide();
    }
    );
    $(function () {
                $("#checkData").click(function () {

                    $samplesArea = $("#SamplesArea").val();
                    $samplesContent =''
                    $samplesList = $samplesArea.split('\n');
                    for ($i in $samplesList) {
                        $lineData = $samplesList[$i];
                        $lineData = $lineData.split('\t');

                        if( $lineData[0] != '\r\n' ||  ($samplesContent != '') ){
                            $samplesContent += "\n";
                            for($j=0 ; $j<11; $j++ ){
                                if ( (typeof $lineData[$j]) == 'undefined' ){ $lineData[$j]="default" };
                                //if ( $lineData[$j] == '' ){ $lineData[$j]="default" };
                                //console.log('==');
                                $samplesContent += $lineData[$j];
                                if( $j <10) {
                                    $samplesContent += "\t"
                                }
                            }
                        }
                    }

                    $("#SamplesArea").val($samplesContent);


                    $tableBody = ''
                    $samplesArea = $("#SamplesArea").val();
                    if($samplesArea != ''){
                    $samplesList = $samplesArea.split('\n');
                    for ($i in $samplesList) {
                        $lineData = $samplesList[$i];
                        $lineData = $lineData.split('\t')
                        if ($lineData[0] == '') continue;
                        $amogeneNumber = $lineData[0];
                        $libraryType = $lineData[1];
                        $seqType = $lineData[2];
                        $sampleType = $lineData[3];
                        $species = $lineData[4];
                        $seqDose = $lineData[5];
                        $indexNumber = $lineData[6];
                        $indexForward = $lineData[7];
                        $extractStatus = $lineData[8];
                        $seqTimes = $lineData[9];
                        $chartName = $lineData[10];
        
                        $tr = '<tr>\n' +
                            ' <td>' + $amogeneNumber + '</td>\n' +
                            ' <td>' + $libraryType + '</td>\n' +
                            ' <td>' + $seqType + '</td>\n' +
                            ' <td>' + $sampleType + '</td>\n' +
                            ' <td>' + $species + '</td>\n' +
                            ' <td>' + $seqDose + '</td>\n' +
                            '  <td>' + $indexNumber + '</td>\n' +
                            '  <td>' + $indexForward + '</td>\n' +
                            '  <td>' + $extractStatus + '</td>\n' +
                            '  <td>' + $seqTimes + '</td>\n' +
                            '  <td>' + $chartName + '</td>\n' +
                            '  </tr>';
                        $tableBody = $tableBody + $tr;
                    }
                    $("#tbody").html($tableBody);
                    //$("#SamplesArea").attr('disabled', 'disabled');
                    $("#SamplesArea").hide();
                    $("#checkData").hide();
                    $('#resetData').show();
                    $("#submit").show();
                    $("#remarkInfo").show();
                }
                });
            });
        
            $(function () {
                    $('#resetData').click(function () {
                        $("#SamplesArea").show();
                        $("#SamplesArea").removeAttr('disabled');
                        $("#tbody").empty();
                        $("#checkData").show();
                        $('#resetData').hide();
                        $("#remarkInfo").hide();
                    });
                }
        
            );
            $(document).ready(function () {
                $('#resetData').hide();
                $('#submit').hide();
            })

        </script>

{% endblock %}