{% extends "base/projectBase.html" %}


{% block rightContent %}

<div class=" ">
    <ol class=" breadcrumb">
        <li class=" breadcrumb-item"><a href="#">药学院</a></li>
        <li class=" breadcrumb-item"><a href="#">张三</a></li>
        <li class=" breadcrumb-item"><a href="#">AM20190124-01</a></li>
    </ol>
</div>
<hr>
<div>
    <h3>样品信息</h3>
    <div class="">
        <form class=" form-inline" action="{{ url_for('samples.samplesList') }}" method="POST">
            {{ form.csrf_token }}
            <label class=" text-info" for="">过滤条件：</label>
            {{ form.amogeneItem(class=" form-control") }}
            {{ form.libraryType(class=" form-control") }}
            {{ form.sampleType(class=" form-control") }}
            {{ form.species(class=" form-control") }}
            {{ form.seqTimes(class=" form-control ") }}
            {{ form.submit(class="btn btn-info ") }}
        </form>
    </div>
    <table class=" table table-hover">
        <thead class=" table-info rounded" id="thead">
            <tr>
                <td>爱默基因编号</td>
                <td>建库类型</td>
                <td>测序类型</td>
                <td>样本类型</td>
                <td>物种类型</td>
                <td>测序量</td>
                <td>index编号</td>
                <td>index正向序列</td>
                <td>RNA提取情况</td>
                <td>测序次数</td>
                <td>图表中名字</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <td>S18083101</td>
                <td>扩增子文库</td>
                <td>PE(SE)150</td>
                <td>组织</td>
                <td>Homo_sapiens</td>
                <td>6G raw data</td>
                <td>A705</td>
                <td>ATCACGAC</td>
                <td>无降解</td>
                <td>首测</td>
                <td>C1</td>
                <td>
                    <button class="btn btn-secondary"><a href="{{ url_for('samples.samplesEdit') }}"> 编辑</a></button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td>S18083102</td>
                <td>扩增子文库</td>
                <td>PE(SE)150</td>
                <td>组织</td>
                <td>Homo_sapiens</td>
                <td>6G raw data</td>
                <td>A705</td>
                <td>ATCACGAC</td>
                <td>无降解</td>
                <td>首测</td>
                <td>C2</td>
                <td>
                    <button class="btn btn-secondary"><a href="{{ url_for('samples.samplesEdit') }}"> 编辑</a></button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td>S18083103</td>
                <td>扩增子文库</td>
                <td>PE(SE)150</td>
                <td>组织</td>
                <td>Homo_sapiens</td>
                <td>6G raw data</td>
                <td>A705</td>
                <td>ATCACGAC</td>
                <td>无降解</td>
                <td>首测</td>
                <td>C3</td>
                <td>
                    <button class="btn btn-secondary"><a href="{{ url_for('samples.samplesEdit') }}"> 编辑</a></button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td>S18083104</td>
                <td>扩增子文库</td>
                <td>PE(SE)150</td>
                <td>组织</td>
                <td>Homo_sapiens</td>
                <td>6G raw data</td>
                <td>A705</td>
                <td>ATCACGAC</td>
                <td>无降解</td>
                <td>首测</td>
                <td>T1</td>
                <td>
                    <button class="btn btn-secondary"><a href="{{ url_for('samples.samplesEdit') }}"> 编辑</a></button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td>S18083105</td>
                <td>扩增子文库</td>
                <td>PE(SE)150</td>
                <td>组织</td>
                <td>Homo_sapiens</td>
                <td>6G raw data</td>
                <td>A705</td>
                <td>ATCACGAC</td>
                <td>无降解</td>
                <td>首测</td>
                <td>T2</td>
                <td>
                    <button class="btn btn-secondary"><a href="{{ url_for('samples.samplesEdit') }}"> 编辑</a></button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td>S18083106</td>
                <td>扩增子文库</td>
                <td>PE(SE)150</td>
                <td>组织</td>
                <td>Homo_sapiens</td>
                <td>6G raw data</td>
                <td>A705</td>
                <td>ATCACGAC</td>
                <td>无降解</td>
                <td>首测</td>
                <td>T3</td>
                <td>
                    <button class="btn btn-secondary"><a href="{{ url_for('samples.samplesEdit') }}"> 编辑</a></button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div><!-- end sample info-->
<hr>
<div class=" d-flex  justify-content-center">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">上一页</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">下一页</a></li>
    </ul>
</div>

{% endblock %}