{% extends "base/userBase.html" %}

{% block title %}
<title>用户信息</title>
{% endblock %}

{% block rightContent %}

<hr>
<div>
    <button class="btn btn-info" data-target="#addUser" data-toggle="collapse">添加用户</button>
    <div class=" collapse" id='addUser'>
        <form action="{{ url_for('user.userAdd') }}" method="POST">
            {{ form.csrf_token }}
            <div class=" form-group">
                {{ form.name.label }}
                {{ form.name(class='form-control') }}
            </div>
            <div class=" radio radio-inline">
                {{ form.gender.label }}
                {{ form.gender }}
            </div>
            <div class=" form-group">
                {{ form.telephone.label }}
                {{ form.telephone(class="form-control") }}
            </div>
            <div class=" form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
            </div>
            <div class=" form-group">
                {{ form.unit.label }}
                {{ form.unit(class="form-control") }}
            </div>
            <div class=" form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
            </div>
            <div class=" form-group">
                {{ form.password_enter.label }}
                {{ form.password_enter(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</div>
<hr>
<h3>用户列表</h3>
<div>
    <table class="table table-hover">
        <thead class=" table-info">
            <td>用户名</td>
            <td>性别</td>
            <td>电话</td>
            <td>电子邮箱</td>
            <td>单位</td>
            <td>操作</td>
            <td>修改密码</td>

        </thead>
        <tbody>
            {% for admin in pagination.items  %}
            <tr>
                <td>{{ admin.name }}</td>
                <td>{{ admin.gender }}</td>
                <td>{{ admin.telephone }}</td>
                <td>{{ admin.email }}</td>
                <td>{{ admin.unit }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ url_for('user.userInfoEdit') }}?id={{ admin.id }}">编辑</a>
                    <a class="btn btn-danger" href="{{ url_for('user.userDel',id=admin.id )  }}">删除</a>
                </td>
                <td>
                    <a class=" text-danger" href="{{ url_for('user.userPasswordEdit') }}">修改密码</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr>


{% from 'base/macros.html' import pager %}

{{ pager(pagination) }}

{% endblock %}