{% extends "base/userBase.html" %}

{% block title %}
<title>用户信息</title>
{% endblock %}

{% block rightContent %}

<hr>
<div>
    <form action="">
        <div class=" form-group">
            <label for="">旧密码</label>
            <input class=" form-control" type="password" name="" id="">
        </div>
        <div class=" form-group">
            <label for="">新密码</label>
            <input class=" form-control" type="password" name="" id="">
        </div>
        <div class=" form-group">
            <label for="">确认密码</label>
            <input class=" form-control" type="password" name="" id="">
        </div>
        <button class="btn btn-primary">确认修改</button>
    </form>
</div>

{% endblock %}