{% extends "base/projectBase.html" %}

{% block title %}
<title>分析信息列表</title>
{% endblock %}

{% block rightContent %}


<div class=" ">
    <ol class=" breadcrumb">
        <li class=" breadcrumb-item"><a href="#">{{ session['clientOrg'] }}</a></li>
        <li class=" breadcrumb-item"><a href="#">{{ session['clientName'] }}</a></li>
        <li class=" breadcrumb-item"><a href="#">{{ session['projectItem'] }}</a></li>
    </ol>
</div>
<div class="card">
    <h3>项目信息>><a class=""
        href="{{ url_for('project.projectEdit') }}?id={{ session['projectId'] }} ">编辑</a></h3>
    <div class="card">
        <h5 class=" card-header">金额信息</h5>
        <div class=" card-body">
            <label for="">是否结算:是</label>
            <br>
            <label for="">结算金额爱默核对:10000 元</label>
            <br>
            <label for="">诺和结算金额:10000 元</label>
            <br>
            <label for="">诺和分期号:005</label>
            <br>
        </div>

        <h5 class=" card-header">实验信息</h5>
        <div class=" card-body">
            <label for="acceptTime">接收样品日期:20190422</label>
            <br>
            <label for="">建库人:张三</label>
            <br>
            <label for="">是否库检:是</label>
            <br>
            <label for="">是否释放数据:是</label>
            <br>
            <label for="">实验周期:4周</label>
            <br>
            <label for="">下载地址</label>
        </div>
        <h5 class=" card-header">备注信息</h5>
        <div class=" card-body">
            备注信息
        </div>
    </div>
</div>

<div>
    <h3>样品信息</h3>

    <table class=" table table-hover">
        <thead class=" table-info rounded" id="thead">
            <tr>
                <td>爱默基因编号</td>
                <td>建库类型</td>
                <td>测序类型</td>
                <td>样本类型</td>
                <td>物种类型</td>
                <td>测序量</td>
                <td>index编号</td>
                <td>index正向序列</td>
                <td>RNA提取情况</td>
                <td>测序次数</td>
                <td>图表中名字</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody id="tbody">
            {% for sample in samplesPagination.items %}
            <tr>
                <td>{{ sample.amogeneItem }}</td>
                <td>{{ sample.libraryType }}</td>
                <td>{{ sample.seqType }}</td>
                <td>{{ sample.sampleType }}</td>
                <td>{{ sample.species }}</td>
                <td>{{ sample.seqDose }}</td>
                <td>{{ sample.indexItem }}</td>
                <td>{{ sample.indexForward }}</td>
                <td>{{ sample.extractStatus }}</td>
                <td>{{ sample.seqTimes }}</td>
                <td>{{ sample.chartName }}</td>
                <td>
                    <div class=" btn-group">
                        <a class="btn btn-secondary"
                            href="{{ url_for('samples.samplesEdit') }}?id={{ sample.id }}">编辑</a>
                        <a class="btn btn-danger" href="{{ url_for('samples.samplesDel') }}?id={{ sample.id }}">删除</a>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <br>
    <br>
    <br>
    <hr>


    <a class="btn btn-primary" href="{{ url_for('samples.samplesAdd') }}">添加样品</a>
</div><!-- end sample info-->
<hr>
<div>
    <h3>差异分析</h3>
    <table class=" table table-hover">
        <thead class=" table-info">
            <td>组号</td>
            <td>参考组组名</td>
            <td>参照组样本</td>
            <td>对照组组名</td>
            <td>对照组样本</td>
            <td>操作</td>
        </thead>
        <tbody>
            {% for analysis in pagination.items %}
            <tr>
                <td>第{{ loop.index }}组</td>
                <td>{{ analysis.CGroupName }}</td>
                <td>{{ analysis.Csamples }}</td>
                <td>{{ analysis.EGroupName }}</td>
                <td>{{ analysis.Esamples }}</td>
                <td>
                    <div class=" btn-group">
                        <a class="btn btn-secondary"
                            href="{{ url_for('analysis.analysisEdit') }}?id={{ analysis.id }}">编辑</a>
                        <a class="btn btn-danger"
                            href="{{ url_for('analysis.analysisDel') }}?id={{ analysis.id }}">删除</a>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<hr>
<div>
    <form class=" form-inline" action="{{ url_for('analysis.analysisAdd') }}" method="POST">
        {{ form.csrf_token }}
        {{ form.cGroupName.label }}
        {{ form.cGroupName(class='form-control') }}
        {{ form.cSamples.label }}
        {{ form.cSamples(class="form-control") }}
        {{ form.eGroupName.label }}
        {{ form.eGroupName(class='form-control') }}
        {{ form.eSamples.label }}
        {{ form.eSamples(class="form-control") }}
        {{ form.submit(class="btn btn-info") }}
    </form>
</div>
<br>
<br>
<br>
<br>

{% endblock %}