{% extends "base/projectBase.html" %}

{% block title %}
<title>编辑分析信息</title>
{% endblock %}

{% block rightContent %}

<br>
<br>
<br>
<h3>修改分析信息</h3>
<div>
    <form class=" form-inline" action="{{ url_for('analysis.analysisEdit') }}" method="POST">
        {{ form.csrf_token }}
        {{ form.analysisId(type='hidden') }}
        {{ form.csrf_token }}
        {{ form.cGroupName.label }}
        {{ form.cGroupName(class='form-control') }}
        {{ form.cSamples.label }}
        {{ form.cSamples(class="form-control") }}
        {{ form.eGroupName.label }}
        {{ form.eGroupName(class='form-control') }}
        {{ form.eSamples.label }}
        {{ form.eSamples(class="form-control") }}
        {{ form.submit(class="btn btn-info") }}
    </form>
</div>

{% endblock  %}