{% extends "base/projectBase.html" %}

{% block title %}
<title>编辑分析信息</title>
{% endblock %}

{% block rightContent %}

<br>
<br>
<br>
<div>
    <form class=" form-inline" action="">
        <label for="">参照组组名：</label>
        <input class=" form-control" type="text" name="" id="">
        <label for="">参考组样本：</label>
        <input class=" form-control" type="text" name="" id="">
        <label for="">对照组组名：</label>
        <input class=" form-control" type="text" name="" id="">
        <label for="">对照组样本：</label>
        <input class=" form-control" type="text" name="" id="">
        <button class="btn btn-primary" type="submit">修改</button>
    </form>
</div>

{% endblock  %}