{% extends 'base/base.html' %}


{% block container %}
<div class=" row">
    <div class=" col-1">
        <div>
            <ul class=" nav nav-pills nav-pills">
                <li class=" nav-item">
                    <a class=" nav-link" href="{{ url_for('client.clientList') }}" id="clientInfo">客户信息</a>
                </li>
                <li class=" nav-item">
                    <a class=" nav-link" href="{{ url_for('project.projectList') }}?clientId=clear"
                        id="projectInfo">项目列表</a>
                </li>
                <li class=" nav-item">
                    <a class=" nav-link" href="#" id="analysisInfo">项目信息</a>
                </li>
                <li class=" nav-item">
                    <a class=" nav-link" href="{{ url_for('samples.samplesList') }}?page=clear"
                        id="samplesInfo">样品列表</a>
                </li>
            </ul>
        </div>

    </div>

    <div class=" col-11">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}

        {% if mess %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ mess }}</strong>
        </div>
        {% endif %}

        {% block rightContent %}
        {% endblock %}

    </div>
</div>

{% endblock %}