{% extends 'base/base.html' %}

{% block container %}
<div class=" row">
    <div class=" col-1">

        <div>
            <ul class=" nav nav-pills ">
                <li class=" nav-item">
                    <a class=" nav-link active" href="{{ url_for('user.userList') }}">管理员</a>
                </li>
                <li class=" nav-item">
                    <a class=" nav-link" href="#">修改权限</a>
                </li>
            </ul>
        </div>
    </div><!-- end col-2 -->

    <div class=" col-11">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
        
        {% if mess %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ mess }}</strong>
        </div>
        {% endif %}

        {% block rightContent %}
        {% endblock %}

    </div>
</div>

{% endblock %}