{% extends "base/projectBase.html" %}

{% block rightContent %}
<div>
    <hr>
    <form action="{{ url_for('client.clientAdd') }}" method="POST">
        <div name="addClient">
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">添加客户</button>

            <div id="demo" class="collapse">
                <form action="{{ url_for('client.clientAdd') }}" method="POST">
                    {{ form.csrf_token }}
                    <div class=" form-group">
                        {{ form.userName.label }}
                        {{ form.userName(class='form-control',style="width:250px;") }}
                    </div>

                    <div class=" radio radio-inline">
                        {{ form.gender.label }}
                        {{ form.gender }}

                    </div>
                    <div class=" form-group">
                        {{ form.organization.label }}
                        {{ form.organization(class='form-control',style="width:500px;") }}
                    </div>
                    <div class=" form-group">
                        {{ form.telephone.label }}
                        {{ form.telephone(class='form-control',style="width:500px;") }}
                    </div>
                    <div class=" form-group">
                        {{ form.email.label }}
                        {{ form.email(class='form-control',type='email',style="width:500px;") }}
                    </div>
                    <div class=" form-group">
                        {{ form.address.label }}
                        {{ form.address(class='form-control',style="width:500px;") }}
                    </div>
                    <div class=" form-group">
                        {{ form.remark.label }}
                        {{ form.remark(class='form-control',style="width:500px;") }}
                    </div>
                    <!-- <button class=" btn btn-primary" type="submit">确认添加</button> -->
                    {{ form.submit(class='btn btn-primary') }}
                </form>

            </div>
        </div>
    </form>

    <hr>
    <div class="">
        <form class=" form-inline" action="{{ url_for('client.clientList') }}" method="POST">
            {{ formq.csrf_token }}
            <label class=" text-info" for="">过滤条件：</label>
            {{ formq.clientSearch(class='form-control') }}
            {{ formq.submit(class='btn btn-info') }}
        </form>
    </div>
    <hr>
    <form action="">
        <table class=" table  table-hover">
            <thead class="  table-info rounded">
                <tr>
                    <td>姓名</td>
                    <td>性别</td>
                    <td>单位</td>
                    <td>电话</td>
                    <td>电子邮箱</td>
                    <td>通讯地址</td>
                    <td>相关项目</td>
                    <td>备注信息</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody class="">
                {% for client in pagination.items  %}
                <tr>
                    <td>{{ client.name }}</td>
                    <td>{{ client.gender }}</td>
                    <td>{{ client.organization }}</td>
                    <td>{{ client.telephone }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.address }}</td>
                    <td><a href="{{ url_for('project.projectList') }}?clientId={{ client.id }}">查看</a></td>
                    <td>备注信息</td>
                    <td>
                        <div class=" btn-group">
                            <a class="btn btn-secondary"
                                href="{{ url_for('client.clientEdit') }}?id={{ client.id }}">编辑</a>
                            <a class="btn btn-danger" href="{{ url_for('client.ClientDel') }}?id={{ client.id }}">删除</a>
                        </div>
                    </td>
                </tr>
                {% endfor  %}
            </tbody>
        </table>
    </form>
</div>

<hr>

{% from 'base/macros.html' import pager %}

{{ pager(pagination) }}

{% endblock %}