{% extends "base/projectBase.html" %}

{% block rightContent %}

<div>
        <ol class=" breadcrumb">
            <li class=" breadcrumb-item"><a href="">药学院</a></li>
            <li class=" breadcrumb-item"><a href="">张三</a></li>
            <li class=" breadcrumb-item"><a href="">修改客户信息</a></li>

        </ol>

    </div>
    <h1>修改客户信息</h1>
    <div name="addClient">
        <form action="{{ url_for('client.clientEdit') }}" method="POST">
                {{ form.csrf_token }}
                {{ form.clientId(type='hidden') }}
                <div class=" form-group">
                    {{ form.userName.label }}
                    {{ form.userName(class='form-control', style="width:200px;") }}
                </div>

                <div class=" radio radio-inline">
                    {{ form.gender.label }}
                    {{ form.gender }}
                </div>
                <div class=" form-group">
                    {{ form.organization.label }}
                    {{ form.organization(class='form-control',style="width:550px;") }}
                </div>
                <div class=" form-group">
                    {{ form.telephone.label }}
                    {{ form.telephone(class='form-control',style='width:550px') }}
                </div>
                <div class=" form-group">
                    {{ form.email.label }}
                    {{ form.email(class='form-control',style='width:550px') }}
                </div>
                <div class=" form-group">
                    {{ form.address.label }}
                    {{ form.address(class='form-control',style='width:550px') }}
                </div>
                <div class=" form-group">
                    {{ form.remark.label }}
                    {{ form.remark(class='form-control',style='width:550px') }}
                </div>
                <!-- <button class=" btn btn-primary" type="submit">确认添加</button> -->
                {{ form.submit(class='btn btn-primary') }}
        </form>
    </div>

{% endblock %}