{% extends "base/projectBase.html" %}

{% block title %}
    <title>修改客户信息</title>
{% endblock %}

{% block rightContent %}

<div>
        <ol class=" breadcrumb">
            <li class=" breadcrumb-item"><a href="">药学院</a></li>
            <li class=" breadcrumb-item"><a href="">张三</a></li>
            <li class=" breadcrumb-item"><a href="">修改客户信息</a></li>

        </ol>

    </div>
    <h1>修改客户信息</h1>
    <div name="addClient">
        <form action="">
            <div class=" form-group">
                <label for="">姓名</label>
                <input class=" form-control" type="text">
            </div>
            <div>
                <label for="">性别</label>
                <div class=" radio form-control">
                    <label class="radio-inline" for="">
                        <input type="radio" name="gender" checked>男
                    </label>

                    <label class="radio-inline" for="">
                        <input type="radio" name="gender">女
                    </label>
                </div>
            </div>
            <div class=" form-group">
                <label for="">单位</label>
                <input class=" form-control" type="text">
            </div>
            <div class=" form-group">
                <label for="">电话</label>
                <input class=" form-control" type="text">
            </div>
            <div class=" form-group">
                <label for="">电子邮箱</label>
                <input class=" form-control" type="text">
            </div>
            <div class=" form-group">
                <label for="">通讯地址</label>
                <input class=" form-control" type="text">
            </div>
            <div class=" form-group">
                <label for="">备注信息</label>
                <input class=" form-control" type="text">
            </div>
            <button class=" btn btn-primary" type="submit">取消</button>
            <button class=" btn btn-primary" type="submit">确认修改</button>
        </form>
    </div>

{% endblock %}